.contacts {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  @media screen and (max-width: 767px) {
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin: auto;
    .mail,
    .phone {
      margin-left: 10px;
    }
    .mail-icon,
    .phone-icon {
      margin-right: 10px;
    }
    .contacts-item + .contacts-item {
      margin-left: 30px;
    }
    .contacts-item {
      display: flex;
      align-items: center;
    }
  }

  &:hover {
    color: $accent-color;
  }
}

.mail,
.phone {
  text-decoration: none;
  color: $small-text-color;
}

.mail-icon {
  fill: $small-text-color;
  width: 16px;
  height: 11.2px;
}
.phone-icon {
  fill: $small-text-color;
  width: 10px;
  height: 14.94px;
}
.mail-icon:hover,
.phone-icon:hover {
  fill: $accent-color;
  cursor: pointer;
}
