.features-container {
  @extend %container;
  padding-top: 30px;
  padding-bottom: 30px;
  
}
.features {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
  margin-left: -15px;
  }
  }
}
.features-card {
  text-align: center;
  background-position: center;
  align-content: center;
    @media screen and (min-width: 768px) {
    width: 50%;
    margin-right: 15px;
    margin-left: 15px;
    @media screen and (min-width: 1200px) {
    width: 25%; 
  }
}
.svg-card {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5f4fa;
  border-radius: 4px;
}

.features-icon {
  fill: $primary-text-color;

  &:hover {
    fill: $accent-color;
  }
}

.features-title {
  text-align: start;
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  text-align: justify;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: $small-text-color;
}
