.logo {
  @extend %logo;
  color: $primary-text-color;
  @media screen and(min-width:$desktop) {
    margin-right: 85px;
  }

  &-web {
    color: $accent-color;
  }

  &-footer {
    @extend %logo;
    color: $white-color;
  }
}
