.main-nav {
  display: flex;
  align-items: center;
}
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}
.menu-button .mob-closeicon {
  display: none;
}
.menu-button.is-open .mob-closeicon {
  display: block;
}
.menu-button.is-open .mob-menuicon {
  display: none;
}
.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: inherit;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}
.site-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and(min-width:$tablet) {
    display: flex;
  }
}
.site-nav_item {
  position: relative;
}
.site-nav_link {
  @extend %site-nav-link;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.site-nav_item + .site-nav_item {
  @media screen and(min-width:$desktop) {
    margin-left: 50px;
  }
}
.site-nav_link--current {
  @extend %site-nav-link;
  color: $accent-color;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 5px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}
