.page-header {
  background-color: $white-color;
  color: $primary-text-color;
}
.header-container {
  @extend %container;
  @media screen and (min-width: $mobile) {
    height: 60px;
    @extend %displayflex;
  }
  @media screen and (min-width: $tablet) {
    height: 80px;
  }
}
