.page-header {
  background-color: $white-color;
  color: $primary-text-color;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  @extend %container;
  @media screen and (min-width: 480px) {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    height: 80px;
  }
}
