.filtr {
  @extend %container;
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-works {
  @extend %container;
  @extend %list;
  display: flex;
  flex-wrap: wrap;
}
.filtr-container {
  @extend %container;
  @extend %list;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 56px;
}
.filtr-button {
  @extend %button;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  line-height: 1.62;
  min-width: 73px;

  vertical-align: middle;
  color: $primary-text-color;
  background-color: #f5f4fa;
  margin-right: 10px;

  &:focus,
  &:hover {
    color: $white-color;
    background-color: $accent-color;
  }
  &:active {
    color: $white-color;
    background-color: $accent-color;
  }
}

.work-item {
  display: block;
  width: 370px;

  margin-right: 30px;
  margin-bottom: 30px;
  overflow: hidden;

  a {
    text-decoration: none;
  }
}

.our-works .work-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.our-works .work-item:nth-child(3n) {
  margin-right: 0px;
}
.animation {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform $transmision-value;
}

.work-item:hover .overlay,
.work-item:focus .overlay {
  opacity: 1;
  transform: translateY(0);
}
.work-item:hover,
.work-item:focus {
  box-shadow: $shadow-black;
}
.card-img {
  display: block;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card-content {
  box-sizing: border-box;
  border-bottom: 1px solid $white-color;
  border-right: 1px solid $white-color;
  border-left: 1px solid $white-color;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.workexamples {
  color: $primary-text-color;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.card-name {
  color: $small-text-color;
  text-decoration: none;
  text-transform: none;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.textexamples {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: $white-color;
}
.textexamples.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.textexamples:hover {
  opacity: 1;
  background-color: rgba(33, 150, 243, 0.9);
}
